<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Add Facility
                    <small>Facility Information</small>
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Facility Name</label>
                                <input type="text" class="form-control" ng-model="facility.Name" placeholder="Facility Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Portfolio</label>
                                <select ng-model="portfolio" ng-options='portfolio.Name for portfolio in portfolios' class="form-control show-tick" ng-change="portfolioChanged(portfolio)"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Client Code</label>
                                <input type="text" class="form-control" ng-model="facility.ClientCode" placeholder="Client Code" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Street Address</label>
                                <input type="text" class="form-control" ng-model="facility.Location.StreetAdress" placeholder="Street Address" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Suburb</label>
                                <input type="text" class="form-control" ng-model="facility.Location.Suburb" placeholder="Suburb" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Settlement Type</label>
                                <select ng-model="facility.SettlementType" class="form-control show-tick">
                                    <option ng-value="settlementType" ng-repeat="settlementType in settlementTypes">
                                        {{settlementType}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Provice</label>
                                <select ng-model="facility.Location.Province" class="form-control show-tick">
                                    <option ng-value="provice" ng-repeat="provice in provices">
                                        {{provice}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Local municipality</label>
                                <select ng-model="facility.location.localMunicipality" class="form-control show-tick">
                                    <option ng-value="municipal" ng-repeat="municipal in municipalities">
                                        {{municipal.code}} - {{municipal.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Latitude</label>
                                <input type="text" class="form-control" placeholder="Latitude" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Longitude</label>
                                <input type="text" class="form-control" placeholder="Longitude" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Polygon Type</label>
                                <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Remarks</label>
                                <input type="text" class="form-control" placeholder="Remarks" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Responsible Person (Name)</label>
                                <input type="text" ng-model="facility.ResposiblePerson.FullName" class="form-control" placeholder="Responsible Person" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Designation</label>
                                <input type="text" class="form-control" ng-model="facility.ResposiblePerson.Designation" placeholder="Designation" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Phone Number</label>
                                <input type="text" ng-model="facility.ResposiblePerson.PhoneNumber" class="form-control" placeholder="Phone Number" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-line">
                                <label>Email Address</label>
                                <input type="text" class="form-control" ng-model="facility.ResposiblePerson.EmailAddress" placeholder="E-Mail Address" />
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default waves-effect" type="submit">Cancel</button>
                <button class="btn btn-primary waves-effect" type="submit" ng-click="saveFacility(facility)">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->